$breakpoint = 700px
$max-width = 1100px

$min-font     = 14px
$max-font     = 16px
$body-font    = sans-serif
$header-font  = sans-serif
$menu-size    = 1em

$logo-columns = 3/9
$menu-columns = 6/9

$menu-color   = gray

$headline-color = #000
$hover-color  = #000

$body-background = #fff

$logo-file    = "logo.png"
