// Style for the login form
#login-form
  ul.Inputfields
    list-style none
    padding 0

  .InputfieldHidden
    display none

  .InputfieldError
      margin 0
      color red

  .InputfieldStateRequired
    label:after
      content "*"
      margin-left 3px
      color red

// Default input form
.InputfieldForm
  p.error
    color red
    margin 0
    
  .required
    label:after
      content "*"
      margin-left 3px
      color red