#login-form
  ul.Inputfields
    list-style none
    padding 0

  .InputfieldHidden
    display none

  .InputfieldError
      margin 0
      color red

  .InputfieldStateRequired
    label:after
      content "*"
      margin-left 3px
      color red
