.clearfix
  lost-utility clearfix

.wrapper
  lost-center $max-width

#top-bar
  background black

#main-logo
  background yellow
  lost-column 3/9

#main-nav
  lost-column 6/9

#social-bar
  lost-column 3/9

#content
  background #fff
  min-height 500px

#bottom-bar
  background blue
