.horizontal-menu
  reset-list()
  li
    display inline-block
    a
      color #efefef
      display block
      padding 5px 8px
      text-decoration none
      text-transform uppercase
      font-size 0.9em


#social-bar
  .horizontal-menu
    text-align right
