$normal-background = #000
$normal-color = #efefef

#top-bar .horizontal-menu
  reset-list()
  li
    position relative
    display inline-block
    a
      color $normal-color
      display block
      padding 10px 10px
      text-decoration none
      text-transform uppercase
      font-size 0.8em
      font-weight bold

      &:hover
        transition 0.2s
        color #999

  & > li:first-child a
    padding-left 0

  & > li:last-child a
    padding-right 0

  li.active
    & > a
      color $active-color

  li.level-1.active
    & > a
      color #fff

  li > ul
    display none
    position absolute
    background #333

    li
      display block
      a
        text-transform none
        padding 5px 25px

      a:hover
        transition 0.2s
        background #666
        color #000

  li:hover ul
    display block


#social-bar
  .horizontal-menu
    text-align right


#footer-bar .horizontal-menu
  reset-list()
  text-align center
  
  li
    display inline-block
    a
      color $normal-color
      display block
      padding 10px 10px
      text-decoration none
      text-transform uppercase
      font-size 0.8em
      font-weight bold

      &:hover
        transition 0.2s
        color #999
