
#manager-bar
  text-align center
  padding 4px 0
  background #1c2836
  border-bottom 3px solid red

  a
    display inline-block
    padding 2px 7px
    color #8d939e
    text-decoration none
    &:hover
      color #fff

.frontend-debug
  i
    font-style normal
    color orange

  i.active
    color green
