@import '../node_modules/stylus-normalize/normalize'

@import 'typographic'
@import '_config'
@import '_tools'
@import '_layout'
@import '_grids'
@import '_debug'
@import '_navigation'
@import '_processwire'
@import '_content'
@import '_ui'
@import '_forms'

typographic()

h1, h2, h3, h4
  color $headline-color

.hidden
  position absolute
  top -9999px
  left -9999px
